# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
tf_env/
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data and large files
data/
*.wav
*.npy
*.h5
*.keras

# Training and test output
test_output/
training_output/
../DNS-Challenge/training_output/

# IDE and system files
.vscode/
.idea/
.DS_Store

# Node.js (if added later)
node_modules/
dist/